@import "reset";

body {
  height: 100vh;
  overflow: hidden;
  background-color: #fff;

  h2 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    width: 100%;
    font-size: 12vw;
    line-height: 1em;
    font-weight: 800;
    color: #333;
    text-transform: uppercase;
  }

  i {
    position: absolute;
    display: block;
    background-color: #000;
    border-radius: 50%;
    animation: animate 5s linear infinite;

    &:nth-child(5n + 1) {
      background-color: #fff;
    }

    &:nth-child(5n + 2) {
      background-color: #ffb03c;
    }

    &:nth-child(5n + 3) {
      background-color: #fff;
      border: 5px solid #ff9933;
    }

    &:nth-child(5n + 4) {
      background-color: #2bd11b;
    }

    &:nth-child(5n + 5) {
      background-color: #fff;
      border: 5px solid #2bd11b;
    }
  }
}

@keyframes animate {
  0% {
    transform: translateY(calc(100vh + 350px));
  }
  100% {
    transform: translateY(-300px);
  }
}
